html,
body {
  height: auto;
}

/* body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
} */



.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.links{
  margin-bottom: 10px;
}

.links a{
  text-decoration: none;
}

.titulo_sucess_error{
  font-family: 'Signika', sans-serif; 
  font-weight: 500; color: #3366cc; 
  font-size: 2em;
}

.msg_sucess_error{
  font-family: 'Work Sans', sans-serif; 
  font-weight: 400; font-size: 1.1em; 
  color: #3f3f3f;
}

.btn-finish-ml{
margin-left: 25%;
border: 2px solid #3366cc; 
color:#3366CC;
display: none;
}

.btn-prev-ml{
margin-right: 20%;
border: 2px solid#4F4F4F; 
color:#4F4F4F;
}

.btn-next-ml{
margin-right: 30%;
right: 15%;
border: 2px solid #3366cc; 
color:#3366CC; 
}
