 <!-- INICIO DEL FORMULARIO PARA GRUPO DE VALOR ( CIUDADANO ) -->
        <div class="row g-5" id="ciudadano" style="display: block">
          <div class="col-md-12 col-lg-12">
            <br />
            
          </div>
        </div>
        <!--FIN DEL FORMULARIO PARA GRUPO DE VALOR ( CIUDADANO )-->
<form class="needs-validation" novalidate>
  
              <div class="row g-3">
                <!--CAMPO DE FORMULARIO TIPO DE IDENTIFICACION-->
                <div class="col-md-3">
                  <label for="state" class="form-label">Tipo Identificación <span class="asteriscos">*</span></label>
                  <select class="form-select" id="tidentificacion" name="tidentificacion" required>
                    <option value="0" selected="true" disabled="disabled"></option>
                    <?php
                    //REQUIERO LA CONEXION A LA BASE DE DATOS 
                    require_once('dbconexion/conexionOracle.php');
                    $conn = new Conexion();
                    $llamarMetodo = $conn->Conectar();

                    //CONSULTA A LA BASE DE DATOS
                    $stid = oci_parse($llamarMetodo, "SELECT ID, NOMBRE FROM BASE_TIPOIDENTIFICACION");
                    oci_execute($stid);

                    //RECORRER EL ARRAY
                    while ($fila = oci_fetch_array($stid, OCI_ASSOC + OCI_RETURN_NULLS)) {
                      echo "<option value=\"" . $fila['ID'] . "\">" . $fila['NOMBRE'] . "</option>";
                    }

                    //CIERRE DE CONEXION A LA DB
                    oci_free_statement($stid);
                    ?>
                  </select>
                  <div class="invalid-feedback">
                    Por favor seleccione una opcion valida
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO NUMERO DE IDENTIFICACIÓN-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">Numero Identificación <span class="asteriscos">*</span></label>
                  <input type="number" class="form-control" id="nidentificacion" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CONTRASEÑA-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">Contraseña <span class="asteriscos">*</span></label>
                  <input type="password" class="form-control" id="contraseña" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CONFIRMACIÓN CONTRASEÑA-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">Confirmación contraseña <span class="asteriscos">*</span></label>
                  <input type="password" class="form-control" id="confirmacion" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO NOMBRE-->
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Nombres <span class="asteriscos">*</span></label>
                  <input type="text" class="form-control" id="nombreCiudadano" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO APELLIDOS-->
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Apellidos <span class="asteriscos">*</span></label>
                  <input type="text" class="form-control" id="apellidosCiudadano" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO FECHA DE NACIMIENTO-->
                <div class="col-md-3">
                  <label for="state" class="form-label">Fecha Nacimiento <span class="asteriscos">*</span></label>
                  <input type="text " class="form-control hps-date"">    
                  </div>

                  <!--CAMPO DE FORMULARIO PAIS DE RESIDENCIA-->
                  <div class=" col-md-3">
                  <label for="state" class="form-label">País Residencia <span class="asteriscos">*</span></label>
                  <select class="form-select" id="paisResidenciaCiudadano" name="paisResidenciaCiudadano" required>

                    <!--ACTIVA EL SELECT CON ID DepartamentoCiudadano si se selecciona la opcion Colombia-->
                    <script type="text/javascript">
                      $("#paisResidenciaCiudadano").change(function() {
                        if ($("#paisResidenciaCiudadano").val() == "1") {
                          $('#DepartamentoResidenciaCiudadano').prop('disabled', false);
                        }
                      })
                    </script>

                    <option value="0" selected="true" disabled="disabled"></option>
                    <?php
                    //REQUIERO LA CONEXION A LA BASE DE DATOS 
                    require_once('dbconexion/conexionOracle.php');
                    $conn = new Conexion();
                    $llamarMetodo = $conn->Conectar();

                    //CONSULTA A LA BASE DE DATOS
                    $stid = oci_parse($llamarMetodo, "SELECT ID, NOMBRE FROM BASE_PAIS");
                    oci_execute($stid);

                    //RECORRER EL ARRAY
                    while ($fila = oci_fetch_array($stid, OCI_ASSOC + OCI_RETURN_NULLS)) {
                      echo "<option value=\"" . $fila['ID'] . "\">" . $fila['NOMBRE'] . "</option>";
                    }

                    //CIERRE DE CONEXION A LA DB
                    oci_free_statement($stid);
                    ?>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>



                <!--CAMPO DE FORMULARIO DEPARTAMENTO DE RESIDENCIA-->
                <div class="col-md-3">
                  <label for="state" class="form-label">Departamento Residencia <span class="asteriscos">*</span></label>
                  <select class="form-select" id="DepartamentoResidenciaCiudadano" disabled>

                    <script type="text/javascript">
                      $("#DepartamentoResidenciaCiudadano").change(function() {
                        if ($("#DepartamentoResidenciaCiudadano").val() != "0") {
                          $('#MunicipioResidenciaCiudadano').prop('disabled', false);
                        }
                      })
                    </script>

                    <option value="0" selected="true" disabled="disabled"></option>
                    <?php
                    //REQUIERO LA CONEXION A LA BASE DE DATOS 
                    require_once('dbconexion/conexionOracle.php');
                    $conn = new Conexion();
                    $llamarMetodo = $conn->Conectar();

                    //CONSULTA A LA BASE DE DATOS
                    $stid = oci_parse($llamarMetodo, "SELECT ID, NOMBRE FROM BASE_DEPARTAMENTO WHERE PAIS_ID ='1'");
                    oci_execute($stid);

                    //RECORRER EL ARRAY
                    while ($fila = oci_fetch_array($stid, OCI_ASSOC + OCI_RETURN_NULLS)) {
                      echo "<option value=\"" . $fila['ID'] . "\">" . $fila['NOMBRE'] . "</option>";
                    }

                    //CIERRE DE CONEXION A LA DB
                    oci_free_statement($stid);
                    ?>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO MUNICIPIO DE RESIDENCIA-->
                <div class="col-md-3">
                  <label for="state" class="form-label">Municipio Residencia <span class="asteriscos">*</span></label>
                  <select class="form-select" id="MunicipioResidenciaCiudadano" disabled>
                    <option value="" selected="true" disabled="disabled"></option>
                    <?php
                    //REQUIERO LA CONEXION A LA BASE DE DATOS 
                    require_once('dbconexion/conexionOracle.php');
                    $conn = new Conexion();
                    $llamarMetodo = $conn->Conectar();

                    //CONSULTA A LA BASE DE DATOS
                    $stid = oci_parse($llamarMetodo, "SELECT ID, NOMBRE FROM BASE_MUNICIPIO WHERE EXISTS (SELECT * FROM BASE_MUNICIPIO.DEPARTAMENTO_ID  = BASE_DEPARTAMENTO.ID)");
                    oci_execute($stid);

                    //RECORRER EL ARRAY
                    while ($fila = oci_fetch_array($stid, OCI_ASSOC + OCI_RETURN_NULLS)) {
                      echo "<option value=\"" . $fila['ID'] . "\">" . $fila['NOMBRE'] . "</option>";
                    }

                    //CIERRE DE CONEXION A LA DB
                    oci_free_statement($stid);
                    ?>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO GENERO-->
                <div class="col-md-3">
                  <label for="state" class="form-label">Género <span class="asteriscos">*</span></label>
                  <select class="form-select" id="orden" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Amazonas</option>
                    <option>Atlántico</option>
                    <option>Cesar</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO GRUPO ETNICO-->
                <div class="col-md-3">
                  <label for="state" class="form-label">Grupo étnico <span class="asteriscos">*</span></label>
                  <select class="form-select" id="sector" disabled>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Indefinido</option>
                    <option>Hombre</option>
                    <option>Mujer</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO EMAIL-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">E-Mail personal <span class="asteriscos">*</span></label>
                  <input type="email" class="form-control" id="email" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CONFIRMAR EMAIL-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">Confirmar E-Mail personal <span class="asteriscos">*</span></label>
                  <input type="email" class="form-control" id="cemail" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO JUNTA DE ACCION COMUNAL-->
                <div class="col-sm-6">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="veeduria" />
                    <label class="form-check-label" for="same-address">¿Es integrante de una Junta de Acción Comunal o Junta
                      Administradora Local?</label>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO VEEDURÍA CIUDADANA-->
                <div class="col-sm-6">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="veeduria" />
                    <label class="form-check-label" for="same-address">Pertenece a veeduría ciudadana</label>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO TERMINOS Y CONDICIONES-->
                <div class="col-md-12" id="politicas">

                  <p><b>Políticas de Privacidad y Condiciones de Uso</b></p>

                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
                </div>

                <!--CAMPO DE FORMULARIO ACEPTAR TÉRMINOS Y CONDICIONES-->
                <div class="col-ms-12">
                  <p>Acepto la <a href="#">política de protección y uso de datos personales</a> del Departamento Administrativo de la Función pública <span class="asteriscos">*</span></p>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="same-address" />
                    <label class="form-check-label" for="same-address">Aceptar términos y condiciones</label>
                  </div>
                </div>

                <!--BOTON ATRAS-->
                <div class="-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btnatras btn btn-outline-primary btn-lg rounded-pill " type="submit" id="btnatrasCiudadano">
                    Atras
                  </button>
                  <!--BOTON FINALIZAR-->
                  <button class="btnfinalizar btn btn-primary btn-lg rounded-pill" type="" id="btnfinalizarCiudadano">
                    Finalizar
                  </button>
                </div>
              </div>
            </form>




               <!--INICIO DEL FORMULARIO PARA GRUPO DE VALOR ( ENLACE INSTITUCIONAL )-->
        <div class="row g-5" id="institucional" style="display: block">
          <div class="col-md-12 col-lg-12">
            <br />
            <form class="needs-validation" novalidate>
              <div class="row g-3">

                <!--CAMPO DE FORMULARIO CODIGO SIGEP-->
                <div class="col-md-12">
                  <div class="col-md-3">
                    <label for="state" class="form-label">Código SIGEP <span class="asteriscos">*</span></label>
                    <select class="form-select" id="tenlace" required>
                      <option value="" selected="true" disabled="disabled"></option>
                      <option>Cédula de ciudadanía</option>
                      <option>Cédula de extranjería</option>
                      <option>Pasaporte</option>
                    </select>
                    <div class="invalid-feedback">
                      Please provide a valid state.
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO NOMBRE DE LA ENTIDAD-->
                <div class="col-md-6">
                  <label for="state" class="form-label">Nombre de la entidad <span class="asteriscos">*</span></label>
                  <select class="form-select" id="nit" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Cédula de ciudadanía</option>
                    <option>Cédula de extranjería</option>
                    <option>Pasaporte</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CODIGO TIPO DE ENLACE-->
                <div class="col-md-6">
                  <label for="state" class="form-label">Tipo de enlace <span class="asteriscos">*</span></label>
                  <select class="form-select" id="csigep" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Cédula de ciudadanía</option>
                    <option>Cédula de extranjería</option>
                    <option>Pasaporte</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO NOMBRE DE LA REGIONAL-->
                <div class="col-sm-12">
                  <label for="lastName" class="form-label">Nombre de la regional <span class="asteriscos">*</span></label>
                  <input type="text" class="form-control" id="rsocial" placeholder="Regional, territorial, seccional, otro" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO DEPARTAMENTO-->
                <div class="col-md-6">
                  <label for="state" class="form-label">Departamento <span class="asteriscos">*</span></label>
                  <select class="form-select" id="njuridica" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Cédula de ciudadanía</option>
                    <option>Cédula de extranjería</option>
                    <option>Pasaporte</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO MUNICIPIO-->
                <div class="col-md-6">
                  <label for="state" class="form-label">Municipio <span class="asteriscos">*</span></label>
                  <select class="form-select" id="corganica" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Cédula de ciudadanía</option>
                    <option>Cédula de extranjería</option>
                    <option>Pasaporte</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CARGA IMAGEN LOGO-->
                <div class="col-md-6">
                  <span class="logo-entidad">Logo de la entidad</span>
                  <p>
                    (Imagen de 800px*800px o con tamaño recomendado maximo 1MB)
                  </p>
                </div>
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Carga de logo <span class="asteriscos">*</span></label>
                  <input type="file" class="form-control" id="logo" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <hr>

                <!--CAMPO DE FORMULARIO CONTRASEÑA-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">Contraseña <span class="asteriscos">*</span></label>
                  <input type="password" class="form-control" id="contraseña" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CONFIRMACIÓN CONTRASEÑA-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">Confirmar contraseña <span class="asteriscos">*</span></label>
                  <input type="password" class="form-control" id="confirmacion" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO EMAIL-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">E-Mail institucional <span class="asteriscos">*</span></label>
                  <input type="email" class="form-control" id="email" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CONFIRMAR EMAIL-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">Confirmar E-Mail <span class="asteriscos">*</span></label>
                  <input type="email" class="form-control" id="cemail" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <br>
                <hr>
                <br>

                <!--CAMPO DE FORMULARIO TERMINOS Y CONDICIONES-->
                <div class="col-md-12" id="politicas">

                  <p><b>Políticas de Privacidad y Condiciones de Uso</b></p>

                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
                </div>

                <!--CAMPO DE FORMULARIO ACEPTAR TÉRMINOS Y CONDICIONES-->
                <div class="col-ms-12">
                  <p>Acepto la <a href="#">política de protección y uso de datos personales</a> del Departamento Administrativo de la Función pública <span class="asteriscos">*</span></p>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="same-address" />
                    <label class="form-check-label" for="same-address">Aceptar términos y condiciones </label>
                  </div>
                </div>

                <!--BOTON ATRAS-->
                <div class="-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btnatras btn btn-outline-primary btn-lg rounded-pill" type="submit" id="btnatrasInstitucional">
                    Atras
                  </button>
                  <!--BOTON FINALIZAR-->
                  <button class="btnfinalizar btn btn-primary btn-lg rounded-pill" type="" id="btnfinalizarInstitucional">
                    Finalizar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--FIN DEL FORMULARIO PARA GRUPO DE VALOR ( ENLACE INSTITUCIONAL)-->


          <!-- INICIO DEL FORMULARIO PARA GRUPO DE VALOR ( SERVIDOR ) -->
        <div class="row g-5" id="servidor" style="display: none">
          <div class="col-md-12 col-lg-12">
            <br />
            <form class="needs-validation" novalidate>
              <div class="row g-3">

                <!--CAMPO DE FORMULARIO JUNTA DE ACCION COMUNAL-->
                <div class="col-sm-12">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="veeduria" />
                    <label class="form-check-label" for="same-address">Consultar información del SIGEP</label>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO TIPO DE IDENTIFICACION-->
                <div class="col-md-3">
                  <label for="state" class="form-label">Tipo de identificación <span class="asteriscos">*</span></label>
                  <select class="form-select" id="tidentificacion" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Cédula de ciudadanía</option>
                    <option>Cédula de extranjería</option>
                    <option>Pasaporte</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO NUMERO DE IDENTIFICACIÓN-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">Numero de identificacion <span class="asteriscos">*</span></label>
                  <input type="number" class="form-control" id="nidentificacion" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CONTRASEÑA-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">Contraseña <span class="asteriscos">*</span></label>
                  <input type="password" class="form-control" id="contraseña" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CONFIRMACIÓN CONTRASEÑA-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">Confirmación de contraseña <span class="asteriscos">*</span></label>
                  <input type="password" class="form-control" id="confirmacion" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO NOMBRE-->
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Nombres<span class="asteriscos">*</span></label>
                  <input type="text" class="form-control" id="nombreServidorPublico" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO APELLIDOS-->
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Apellidos<span class="asteriscos">*</span></label>
                  <input type="text" class="form-control" id="apellidosServidorPublico" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO FECHA DE NACIMIENTO-->
                <div class="col-md-3">
                  <label for="state" class="form-label">Fecha de nacimiento <span class="asteriscos">*</span></label>
                  <input type="text " class="form-control hps-date"">    
                  </div>
                  

                  <!--CAMPO DE FORMULARIO DEPARTAMENTO-->
                  <div class=" col-md-3">
                  <label for="state" class="form-label">Departamento de residencia<span class="asteriscos">*</span></label>
                  <select class="form-select" id="DepartamentoServidorPublico" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Amazonas</option>
                    <option>Atlántico</option>
                    <option>Cesar</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO MUNICIPIO-->
                <div class="col-md-6">
                  <label for="state" class="form-label">Municipio de residencia<span class="asteriscos">*</span></label>
                  <select class="form-select" id="municipio" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Indefinido</option>
                    <option>Hombre</option>
                    <option>Mujer</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO GENERO-->
                <div class="col-md-3">
                  <label for="state" class="form-label">Genero <span class="asteriscos">*</span></label>
                  <select class="form-select" id="genero" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Indefinido</option>
                    <option>Hombre</option>
                    <option>Mujer</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO GRUPO ETNICO-->
                <div class="col-md-3">
                  <label for="state" class="form-label">Grupo etnico <span class="asteriscos">*</span></label>
                  <select class="form-select" id="etransversal" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Amazonas</option>
                    <option>Atlántico</option>
                    <option>Cesar</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO EMAIL-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">E-Mail personal <span class="asteriscos">*</span></label>
                  <input type="email" class="form-control" id="email" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CONFIRMAR EMAIL-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">Confirmar E-Mail personal <span class="asteriscos">*</span></label>
                  <input type="email" class="form-control" id="cemail" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO EMAIL INSTITUCIONAL-->
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">E-Mail institucional <span class="asteriscos">*</span></label>
                  <input type="email" class="form-control" id="emailinst" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CONFIRMAR EMAIL INSTITUCIONAL-->
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Confirmar E-Mail institucional <span class="asteriscos">*</span></label>
                  <input type="cemailinst" class="form-control" id="cemail" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO ENTIDAD-->
                <div class="col-md-12">
                  <label for="state" class="form-label">Entidad donde labora<span class="asteriscos">*</span></label>
                  <select class="form-select" id="entidad" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Amazonas</option>
                    <option>Atlántico</option>
                    <option>Cesar</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO DEPARTAMENTO DONDE LABORA-->
                <div class="col-md-6">
                  <label for="state" class="form-label">Departamento donde labora<span class="asteriscos">*</span></label>
                  <select class="form-select" id="orden" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Amazonas</option>
                    <option>Atlántico</option>
                    <option>Cesar</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO MUNICIPIO-->
                <div class="col-md-6">
                  <label for="state" class="form-label">Municipio donde labora<span class="asteriscos">*</span></label>
                  <select class="form-select" id="sector" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Indefinido</option>
                    <option>Hombre</option>
                    <option>Mujer</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CARGO-->
                <div class="col-md-6">
                  <label for="state" class="form-label">Cargo <span class="asteriscos">*</span></label>
                  <select class="form-select" id="cargo" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Indefinido</option>
                    <option>Hombre</option>
                    <option>Mujer</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO EQUIPO TRANSVERSAL-->
                <div class="col-md-6">
                  <label for="state" class="form-label">Equipo transversal <span class="asteriscos">*</span></label>
                  <select class="form-select" id="etransversal" required>
                    <option value="" selected="true" disabled="disabled"></option>
                    <option>Amazonas</option>
                    <option>Atlántico</option>
                    <option>Cesar</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CODIGO DE VERIFICACION-->
                <div class="col-sm-3">
                  <label for="lastName" class="form-label">Código de verificación<span class="asteriscos">*</span></label>
                  <input type="text" class="form-control" id="nombre" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <div class="col-sm-9">

                </div>

                <hr>

                <!--CAMPO DE FORMULARIO CARGA DOCUMENTO VERIFICACION DE USUARIO-->
                <div class="col-sm-6">
                  <p>Adjunte un documento que confirme su vinculación.</p>
                  <br>
                  <label for="lastName" class="form-label">Carga documento de verificación<span class="asteriscos">*</span></label>
                  <input type="file" class="form-control" id="documentov" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO CARGA FOTO-->
                <div class="col-sm-6">
                  <p>Adjunte una fotografía de 800 X 800 o con tamaño recomendado máximo 1MB.</p>
                  <label for="lastName" class="form-label">Carga de fotografía <span class="asteriscos">*</span></label>
                  <input type="file" class="form-control" id="foto" placeholder="" value="" required />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <br>
                <hr>
                <br>

                <div class="temasinteres">
                  <p>Seleccione hasta 3 temas de su interés.</p>
                </div>

                <!--CAMPO DE FORMULARIO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="asigep" />
                      <label class="form-check-label" for="same-address">Tema de interés 1</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO ACTIVO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="temaDeInteres" />
                      <label class="form-check-label" for="same-address">Tema de interés 2</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="asigep" />
                      <label class="form-check-label" for="same-address">Tema de interés 3</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO ACTIVO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="ared" />
                      <label class="form-check-label" for="same-address">Tema de interés 4</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="asigep" />
                      <label class="form-check-label" for="same-address">Tema de interés 5</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO ACTIVO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="ared" />
                      <label class="form-check-label" for="same-address">Tema de interés 6</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="asigep" />
                      <label class="form-check-label" for="same-address">Tema de interés 7</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO ACTIVO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="ared" />
                      <label class="form-check-label" for="same-address">Tema de interés 8</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="asigep" />
                      <label class="form-check-label" for="same-address">Tema de interés 9</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO ACTIVO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="ared" />
                      <label class="form-check-label" for="same-address">Tema de interés 10</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="asigep" />
                      <label class="form-check-label" for="same-address">Tema de interés 11</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO ACTIVO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="ared" />
                      <label class="form-check-label" for="same-address">Tema de interés 12</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="asigep" />
                      <label class="form-check-label" for="same-address">Tema de interés 13</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO ACTIVO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="ared" />
                      <label class="form-check-label" for="same-address">Tema de interés 14</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="asigep" />
                      <label class="form-check-label" for="same-address">Tema de interés 15</label>
                    </div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO ACTIVO TEMAS DE INTERES-->
                <div class="col-md-3">
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="ared" />
                      <label class="form-check-label" for="same-address">Tema de interés 16</label>
                    </div>
                  </div>
                </div>

                <br>
                <hr>
                <br>

                <!--CAMPO DE FORMULARIO TERMINOS Y CONDICIONES-->
                <div class="col-md-12" id="politicas">

                  <p><b>Políticas de Privacidad y Condiciones de Uso</b></p>

                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
                </div>

                <!--CAMPO DE FORMULARIO ACEPTAR TÉRMINOS Y CONDICIONES-->
                <div class="col-ms-12">
                  <p>Acepto la <a href="#">política de protección y uso de datos personales</a> del Departamento Administrativo de la Función pública <span class="asteriscos">*</span></p>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="same-address" />
                    <label class="form-check-label" for="same-address">Aceptar términos y condiciones</label>
                  </div>
                </div>

                <!--BOTON ATRAS-->
                <div class="-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btnatras btn btn-outline-primary btn-lg rounded-pill" type="submit" id="btnatrasServidor">
                    Atras
                  </button>
                  <!--BOTON FINALIZAR-->
                  <button class="btnfinalizar btn btn-primary btn-lg rounded-pill" type="" id="btnfinalizarServidor">
                    Finalizar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--FIN DEL FORMULARIO PARA GRUPO DE VALOR ( SERVIDOR )-->