  <!-- Include SmartWizard CSS ../dist/css/smart_wizard.css -->
  <link href="../js/smart-wizard/dist/css/smart_wizard.css" rel="stylesheet" type="text/css" />

  <link href="../js/smart-wizard/dist/css/smart_wizard_theme_dots_1.css" rel="stylesheet" type="text/css" />

    <div id="CONTAINER_WIZARD" style="display: none;">
         <form  id="myFormFuncionario" role="form" class="needs-validation" data-toggle="validator" accept-charset="utf-8">
                <!-- SmartWizard html -->
          <input type="hidden"  name="tipousuario" value="1" />
           <input type="hidden"  name="VALIDACCESO" value="reg_datos_funcionarios" />
           <div id="smartwizard">
            <ul>
                <li style="width: 50%;"><a href="#step-0">Paso 1<br /><small>Datos personales</small></a></li>
                <li style="width: 50%;"><a href="#step-1">Paso 2<br /><small>Términos y condiciones</small></a></li>
            </ul>
             <br>
            <div>
                <div id="step-0" role="form" data-toggle="validator" style="margin-bottom:5%;">
                <!-- INICIO DEL FORMULARIO PARA GRUPO DE VALOR ( CIUDADANO ) -->
                  <div class="row g-3">
                     
                      <!--CAMPO DE FORMULARIO TIPO DE IDENTIFICACION-->
                      <div class="col-md-4">
                        <div >
                          <div class="form-group">   
                            <label for="state" class="form-label">Tipo de identificación <span class="asteriscos">*</span></label>
                            <select class="form-select" id="tidentificacion" name="tidentificacion" required>
                              <option value="0" selected="true" disabled="disabled"></option>
                            </select>
                        <div class="help-block with-errors"></div>
                       </div>
                    </div>
                  </div>

                <!--CAMPO DE FORMULARIO NUMERO DE IDENTIFICACIÓN-->
               
                <div class="col-sm-5">
                        <div class="form-group">
                           <label for="nidentificacion_c" class="form-label">Numero de identificación <span class="asteriscos">*</span></label>
                            <input type="text" class="form-control" id="nidentificacion" name="nidentificacion" placeholder="" required />
                            <div class="help-block with-errors"></div>
                        </div>
                </div>
                <!--CAMPO DE FORMULARIO NOMBRE-->
                <div class="col-sm-6">
                        <div class="form-group">
                        <label for="lastName" class="form-label">Nombres <span class="asteriscos">*</span></label>
                        <input type="text" class="form-control" id="nombreCiudadano" name="nombreCiudadano" placeholder="" required />
                        <div class="help-block with-errors"></div>
                      </div>
                </div>

                <!--CAMPO DE FORMULARIO APELLIDOS-->
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="lastName" class="form-label">Apellidos <span class="asteriscos">*</span></label>
                  <input type="text" class="form-control" id="apellidosCiudadano" name="apellidosCiudadano" placeholder="" value="" required />
                  <div class="help-block with-errors"></div>
                  </div>
                </div>

                  <!--CAMPO DE FORMULARIO PAIS DE RESIDENCIA-->
                  <div class=" col-md-4">
                    <div class="form-group"><label for="state" class="form-label">País residencia <span class="asteriscos">*</span></label>
                  <select class="form-select" id="paisResidenciaCiudadano" name="paisResidenciaCiudadano" required>
                    <!--ACTIVA EL SELECT CON ID DepartamentoCiudadano si se selecciona la opcion Colombia-->
                    <option value="0" selected="true"></option>
                  </select>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
                <!--CAMPO DE FORMULARIO DEPARTAMENTO DE RESIDENCIA-->
                <div class="col-md-4">
                  <div class="form-group"><label for="state" class="form-label">Departamento residencia <span class="asteriscos">*</span></label>
                    <select class="form-select" id="DepartamentoResidenciaCiudadano" name="DepartamentoResidenciaCiudadano" 
                    disabled required>
                      <option value="0" selected="true" disabled="disabled"></option>
                    </select>
                    <div class="help-block with-errors"></div></div>
                </div>
                 

                <!--CAMPO DE FORMULARIO MUNICIPIO DE RESIDENCIA-->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="state" class="form-label">Municipio residencia <span class="asteriscos">*</span></label>
                    <select class="form-select" id="MunicipioResidenciaCiudadano" name="MunicipioResidenciaCiudadano" disabled required>
                      <option value="" selected="true" disabled="disabled"></option>
                    </select>
                    <div class="help-block with-errors"></div></div>

                </div>

                 <!--CAMPO DE FORMULARIO NUMERO TELEFONO-->
                <div class="col-md-3">
                  <div class="form-group"><label for="state" class="form-label">Número telefónico <span class="asteriscos">*</span></label>
                  <input type="tel " class="form-control" id="numTelefono" name="numTelefono" placeholder="" required>    
                  <div class="help-block with-errors"></div>
                </div>
              </div>

                 <!--CAMPO DE FORMULARIO FECHA DE NACIMIENTO-->
                <div class="col-md-3">
                  <div class="form-group"><label for="state" class="form-label">Fecha de nacimiento <span class="asteriscos">*</span></label>
                    <input type="date" id="Fecha_Nacimiento" name="Fecha_Nacimiento" class="form-control" required>    
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <!--CAMPO DE FORMULARIO GENERO-->
                <div class="col-md-3">
                  <div class="form-group"><label for="state" class="form-label">Género <span class="asteriscos">*</span></label>
                    <select class="form-select" id="lst_genero" name="lst_genero" required>
                      <option value="" selected="true" disabled="disabled"></option>
                      <!-- <option value="1">Masculino</option>
                      <option value="0">Femnino</option> -->
                    </select>
                    <div class="help-block with-errors"></div></div>
                </div>

                <!--CAMPO DE FORMULARIO GRUPO ETNICO-->
                <div class="col-md-3">
                  <div class="form-group"><label for="state" class="form-label">Te autoreconoces como <span class="asteriscos">*</span></label>
                    <select class="form-select" id="lst_grupoetnico" name="lst_grupoetnico" required>
                      <option value="" selected="true" disabled="disabled"></option>
                    </select>
                    <div class="help-block with-errors"></div></div>
                </div>

                <!--CAMPO DE FORMULARIO EMAIL-->
                <div class="col-sm-6">
                  <div class="form-group"><label for="lastName" class="form-label">E-Mail personal <span class="asteriscos">*</span></label>
                    <input type="email" class="form-control" id="email_personal" readonly name="email_personal" placeholder="" required/>
                    <div class="help-block with-errors"></div></div>
                </div>

                

                <!--CAMPO DE FORMULARIO CONTRASEÑA-->
                <div class="col-sm-3">
                  <div class="form-group"><label for="lastName" class="form-label">Contraseña <span class="asteriscos">*</span></label>
                    <input type="password" class="form-control" id="contraseña" name="contrasena" placeholder="" required />
                    <div class="help-block with-errors"></div></div>
                </div>

                <!--CAMPO DE FORMULARIO CONFIRMACIÓN CONTRASEÑA-->
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="lastName" class="form-label">Confirmar contraseña <span class="asteriscos">*</span></label>
                    <input type="password" class="form-control" id="confirmacion" placeholder="" required />
                    <div class="help-block with-errors"></div></div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="integrante_jal" name="integrantejunta"  required/>
                                <label class="form-check-label" for="same-address" >
                                ¿Eres integrante de una Junta de Acción Comunal o Junta Administradora Local?<span class="asteriscos">*</span>
                                </label>
                            </div>
                        <div class="help-block with-errors"></div>
                      </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                        <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="Pertenece_veeduria" name="pertenceveedura" required />
                                <label class="form-check-label" for="same-address">
                                  ¿Perteneces a veeduría ciudadana?<span class="asteriscos">*</span></label>
                              </div>
                              <div class="help-block with-errors"></div>
                          </div>
                   </div>

               </div>
             </div>
              

                <div id="step-1" role="form" data-toggle="validator" style="margin-bottom:5%;">
                     <div class="row g-3" >
                            <!--CAMPO DE FORMULARIO TERMINOS Y CONDICIONES-->
                            <div class="col-md-12" id="politicas">

                              <p><b>Políticas de privacidad y condiciones de uso</b></p>

                              <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                              </p>
                            </div>
                            <!--CAMPO DE FORMULARIO ACEPTAR TÉRMINOS Y CONDICIONES-->
                            <div class="col-ms-12">
                              <div class="form-group">
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="politicasprotecion" name="politicasprotecion" required/>
                                <label class="form-check-label" for="same-address">Acepto la <a href="#">política de protección y uso de datos personales</a> del Departamento Administrativo de la Función pública <span class="asteriscos">*</span></label>
                                </div>
                              <div class="help-block with-errors"></div></div>
                              
                              
                                <div class="form-group">
                                   <div class="form-check"><input type="checkbox" class="form-check-input" id="terminoscondiciones" name="terminoscondiciones" required/>
                                  <label class="form-check-label" for="terminoscondiciones">Acepto los términos y condiciones</label>
                                  <div class="help-block with-errors"></div></div>
                              </div>
                              
                              <input type="hidden" id="nomDirectorio" name="nomDirectorio" value="imagenes"/>
                              <input type="hidden" id="nomimagen" name="nomimagen" value="0"/>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <!--FIN DEL PROCESO WIZARD-->
              
            </form>
          </div>
          <!--FIN DEL PROCESO CONTAINER DEL FORMULARIO DE AYUDA O WIZARD-->
    <!-- Include SmartWizard JavaScript source -->
  <script  src="../js/smart-wizard/dist/js/jquery.smartWizard.js"></script>
  
  <!--FUNCIONES WIZARD-->
  <script src="../js/smart-wizard.js"></script>
  

  <script>
  jQuery(function ($) {
   PARAMETRO_TDOC();
   PARAMETROS();
   PAIS();
    $("#paisResidenciaCiudadano").change(function () {
         var id = $("#paisResidenciaCiudadano").val();
         $('#DepartamentoResidenciaCiudadano').prop('disabled', false);
          DPTO(id)
       });

     $("#DepartamentoResidenciaCiudadano").change(function () {
        var id = $("#DepartamentoResidenciaCiudadano").val();
        $('#MunicipioResidenciaCiudadano').prop('disabled', false);
        CIUDAD(id,0)
      });

  });
</script>