  <!-- Include SmartWizard CSS ../dist/css/smart_wizard.css -->
  <link href="../js/smart-wizard/dist/css/smart_wizard.css" rel="stylesheet" type="text/css" />

  <!-- Optional SmartWizard theme myFormInstucional -->
  <link href="../js/smart-wizard/dist/css/smart_wizard_theme_dots_1.css" rel="stylesheet" type="text/css" />

  
  <div id="CONTAINER_WIZARD" style="display: none;">
        <form  id="myFormInstucional" role="form" class="needs-validation" data-toggle="validator" accept-charset="utf-8">
            <input type="hidden"  name="VALIDACCESO" value="reg_datos_institucional" />
            <input type="hidden"  name="tipousuario" value="3" />
                <!-- SmartWizard html -->
           <div id="smartwizard">
            <ul>
                <li style="width: 50%;"><a href="#step-0">Paso 1<br /><small>Datos institucional</small></a></li>
                <li style="width: 50%;"><a href="#step-1">Paso 2<br /><small>Términos y condiciones</small></a></li>
               </ul>
              <br>
            <div>
               

                <div id="step-0" style="margin-bottom:5%;">
                  <div class="row g-3">
                       <!--CAMPO DE FORMULARIO CODIGO SIGEP-->
                       <div class="col-sm-12">
                            <div class="col-md-3">
                              <div class="form-group">
                                  <label for="codsigep" class="form-label">Código SIGEP <span class="asteriscos">*</span></label>
                                  <input type="text" class="form-control" id="codsigep" name="codsigep" placeholder="Codigo sigep" value="" required />
                                  <div class="help-block with-errors"></div></div>
                            </div></div>

                            <!--CAMPO DE FORMULARIO NOMBRE DE LA ENTIDAD-->
                            <div class="col-md-6">
                               <div class="form-group">
                                  <label for="state" class="form-label">Nombre de la entidad <span class="asteriscos">*</span></label>
                                <select class="form-select" id="nombre_entidades" name="nombre_entidades" required>
                                    <option value="" selected="true" disabled="disabled"></option>
                                </select>
                                <div class="help-block with-errors"></div></div>
                          </div>

                            <!--CAMPO DE FORMULARIO CODIGO TIPO DE ENLACE-->
                            <div class="col-md-6">
                              <div class="form-group">
                              <label for="state" class="form-label">Tipo de enlace <span class="asteriscos">*</span></label>
                              <select class="form-select" id="tipoenlace" name="tipoenlace" required>
                                  <option value="" selected="true" disabled="disabled"></option>
                              </select>
                              <div class="help-block with-errors"></div></div>
                            </div>

                            <!--CAMPO DE FORMULARIO NOMBRE DE LA REGIONAL-->
                            <div class="col-sm-12">
                              <div class="form-group">
                              <label for="lastName" class="form-label">Nombre de la regional <span class="asteriscos">*</span></label>
                              <input type="text" class="form-control" id="nom_regional" name="nom_regional" placeholder="Regional, territorial, seccional, otro" required />
                              <div class="help-block with-errors"></div></div>
                            </div>

                            <!--CAMPO DE FORMULARIO DEPARTAMENTO-->
                            <div class="col-md-6">
                               <div class="form-group">
                                <label for="state" class="form-label">Departamento <span class="asteriscos">*</span></label>
                                <select class="form-select" id="DepartamentoLaborainstitucional" name="DepartamentoLaborainstitucional" required>
                                    <option value="" selected="true" disabled="disabled"></option>
                                </select> 
                                <div class="help-block with-errors"></div></div>
                            </div>

                            <!--CAMPO DE FORMULARIO MUNICIPIO-->
                            <div class="col-md-6">
                             <div class="form-group">
                              <label for="state" class="form-label">Municipio <span class="asteriscos">*</span></label>
                              <select class="form-select" id="MunicipioLaborainstitucional" name="MunicipioLaborainstitucional" required>
                                  <option value="" selected="true" disabled="disabled"></option>
                              </select><div class="help-block with-errors"></div></div>
                            </div>

                            <!--CAMPO DE FORMULARIO CARGA IMAGEN LOGO-->
                            <div class="col-md-6">
                            <span class="logo-entidad">Logo de la entidad</span>
                            <p>
                                (Adjunta una imagen con un peso máximo de 1 mega en formato jpg o png)
                            </p>
                            </div>
                            <div class="col-sm-6">
                             <div class="form-group">
                            <label for="lastName" class="form-label">Carga de logo <span class="asteriscos">*</span></label>
                            <input type="file" class="form-control" id="foto" name="foto" placeholder="" value="" required />
                            <div class="help-block with-errors"></div></div>
                            </div>

                            <hr>

                            <!--CAMPO DE FORMULARIO CONTRASEÑA-->
                            <div class="col-sm-3">
                               <div class="form-group">
                                <label for="lastName" class="form-label">Contraseña <span class="asteriscos">*</span></label>
                                <input type="password" class="form-control" id="contrasenna" name="contrasenna" placeholder="" value="" required /><div class="help-block with-errors"></div></div>
                            </div>

                            <!--CAMPO DE FORMULARIO CONFIRMACIÓN CONTRASEÑA-->
                            <div class="col-sm-3">
                             <div class="form-group">
                            <label for="lastName" class="form-label">Confirmar contraseña <span class="asteriscos">*</span></label>
                            <input type="password" class="form-control" id="confirmacion" name="confirmacion" placeholder="" value="" required /><div class="help-block with-errors"></div></div>
                            </div>

                            <!--CAMPO DE FORMULARIO EMAIL-->
                            <div class="col-sm-6">
                             <div class="form-group">
                              <label for="lastName" class="form-label">E-Mail institucional <span class="asteriscos">*</span></label>
                              <input type="email" class="form-control"  id="email_institucional"  name="email_institucional" readonly placeholder="" value="" required />
                              <div class="help-block with-errors"></div></div>
                            </div>
                            <br>
                            <hr>
                            <br>
                  </div>
                </div> 
              
                    <div id="step-1" style="margin-bottom:5%;">
                     <div class="row g-3" >
                            <!--CAMPO DE FORMULARIO TERMINOS Y CONDICIONES-->
                            <div class="col-md-12" id="politicas">

                              <p><b>Políticas de privacidad y condiciones de uso</b></p>

                              <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                              </p>
                            </div>
                            <!--CAMPO DE FORMULARIO ACEPTAR TÉRMINOS Y CONDICIONES-->
                            <div class="col-ms-12">
                              <div class="form-group"></div>
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="politicaproteccion" name="politicaproteccion" />
                                <label class="form-check-label" for="same-address">Acepto la <a href="#">política de protección y uso de datos personales</a> del Departamento Administrativo de la Función pública <span class="asteriscos">*</span></label>
                              </div><div class="help-block with-errors"></div>
                            </div>
                              <div class="form-group">
                                  <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="terminoscondiciones" name="terminoscondiciones" />
                                    <label class="form-check-label" for="terminoscondiciones">Acepto los términos y condiciones</label>
                                  </div><div class="help-block with-errors"></div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <!--FIN DEL PROCESO WIZARD-->
              
            </form>
          </div>
          <!--FIN DEL PROCESO CONTAINER DEL FORMULARIO DE AYUDA O WIZARD-->
    <!-- Include SmartWizard JavaScript source -->
  <script  src="../js/smart-wizard/dist/js/jquery.smartWizard.js"></script>
  
  <!--FUNCIONES WIZARD-->
  <script src="../js/smart-wizard.js"></script>
  <script>
  jQuery(function ($) {
    ENTIDADES();
    PARAMETROS();
    DPTO(1)
    $("#DepartamentoLaborainstitucional").change(function () {
        var id = $("#DepartamentoLaborainstitucional").val();
        $('#MunicipioLaborainstitucional').prop('disabled', false);
        CIUDAD(id,2)
      });
  });
</script>