@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body{
    padding:0;
    margin:0;
    background-color:white;
    color: #636362;
    font-family: 'Work Sans', sans-serif;
}

.card-container {
    margin: 80px auto 50px;
    width: 65%;
    border-radius: 35px;
    overflow: hidden;
    background-color:#F4F4F4;
    box-shadow: 0px 40px 40px -40px black; 
}

@media screen and (max-width:480px) {
		.card-container {
			width:100%;
		}
	}

.selector-formulario {
    padding:30px 50px 30px 50px;
    box-sizing: border-box;
    text-align: left;
}

/*Nuevos estilos*/
.encabezado {   
    width: 100%;
    height: 120px;
    background-image: url("../../img/background-header.jpg");
    background-size: cover;
    vertical-align: middle;
    position: relative;
}
.container-titregistro {
    position: absolute; left: 0; top: 34%; margin:0 0 0 50px;
}
.identificador-rsp {
    position: absolute; right: 0; top: 36%; margin:0 40px 0 0;
}
.encabezado h1 {
    font-family: 'Signika', sans-serif; font-weight: 500; color:#fff; font-size: 1,1em;
}
.encabezado-xs {
    width: 100%;
    height: 150px;
    background-image: url("../../img/background-header.jpg");
    background-size: cover;
    vertical-align: center;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.encabezado-xs img {
    margin-top: 25px;
    padding: 10px 0 0 0;
}
.encabezado-xs h1 {
    font-family: 'Signika', sans-serif; font-weight: 500; color:#fff; font-size: 1,2em; margin-top: 20px;
}

.p1{
    font-size:20px;
    font-weight: 700;
    color: #545454;
    margin-bottom: 1px;
}

.p2{
    font-size:18px;
    font-weight: 400;
    color: #545454;
    margin-top:1px;
    margin-bottom: 20px;
}

.p3{
    font-size:18px;
    font-weight: 700;
    color: #545454;
    margin-bottom: 30px;
}

.form-label{
    font-size:15px;
    font-weight: 700;
    color: #545454;
}

.logo-entidad{
    font-size:15px;
    font-weight: 700;
    color: #545454;
}

.asteriscos{
    color: #3366CC;
}

#terminos{
    background-color:white;
    resize:none;
    height: 180px;
}

#politicas{
    background-color:white;
    border: 1px solid lightgray;
    overflow-y: scroll;
    height: 180px;
    padding:20px 20px 20px 20px;
    border-radius: 5px;
}

.temasinteres{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    color: #545454;
}

#documentov{
    background-color: #C7D7ED;
    border-color: #162F48;
    color: #162F48;
    border-radius: 18px;
}

#foto{
    background-color: #C7D7ED;
    border-color: #162F48;
    color: #162F48;
    border-radius: 18px;
}

#logo{
    background-color: #C7D7ED;
    border-color: #162F48;
    color: #162F48;
    border-radius: 18px;
}
.list-unstyled{
    color:red;
}

